/* #body {
  background-image: url("../../img/background.svg");
  background: var(--c1) url("../../img/background.svg") no-repeat center top
  fixed;
  backdrop-filter: blur(120px);
} */

.background-container {
  position: relative;
  height: 0;
}

.background {
  top: 0px;
  object-fit: cover;
  z-index: -1;
  filter: blur(120px);
  position: absolute;
}
