/* #body {
  background-image: url("../../img/background.svg");
  background: var(--c1) url("../../img/background.svg") no-repeat center top
  fixed;
  backdrop-filter: blur(120px);
} */

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.background-container {
  position: relative;
  height: 0;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  /* transform: translateZ(-10px) scale(2); */
  transform: translateZ(-10px) scale(2);
  position: absolute;
  /* top: 0px; */
  object-fit: cover;
  /* z-index: -1; */
  filter: blur(120px);
}
