body {
  background: var(--c1) url("../../img/background2.svg") no-repeat center top;
  /* backdrop-filter: blur(120px); */
  object-fit: cover;
  object-position: left top;
}

@media (max-width: 600px) {
  body {
    background-image: url("../../img/background-mobile.svg");
    /* backdrop-filter: blur(0px); */
  }
}

/* .background-container {
  position: relative;
  height: 0;
}

.background {
  top: 0px;
  z-index: -1;
  filter: blur(120px);
  position: absolute;
} */
