.contato .links {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding-bottom: 100px;
}
.contato .links a:not(:nth-child(2)) {
  max-width: 60px;
}
.contato .links a:nth-child(2) {
  max-width: 70px;
}

.contato p {
  line-height: 1.5;
}

@media (max-width: 520px) {
  .contato .links {
    gap: 40px 52px;
  }
}
