/* .projetos-item-1 img {
  width: 372px;
  height: 200px;
  object-fit: cover;
  object-position: top;
}

.projetos-item-1 {
  background-color: var(--c2);
  width: 340px;
 margin-left: auto;
  margin-right: auto;
}

.projetos-item-1-texto {
  margin: 40px;
}

.projetos-item-1-texto h3 {
  padding-top: 56px;
}
*/

.projetos-bikcraft-texto {
  background-color: var(--c2);
  padding: 48px 40px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.projetos-bikcraft-texto p {
  padding-top: 20px;
  padding-bottom: 240px;
}

.projetos-bikcraft img {
  max-width: 380px;
  width: 380px;
  height: 200px;
  object-fit: cover;
  object-position: top;
  position: absolute;
  top: 216px;
  left: 20px;
}

.projetos-bikcraft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

@media (max-width: 500px) {
  .projetos.container {
    padding-right: 0px;
    padding-left: 0px;
  }
}
